/* home_page__graph */
#home_page__chart--display {
    height: 0px;
    margin-top: 30px;
}

#home_page__chart--display2 {
    height: 0px;
    margin-top: 30px;
}

#home_page__chart--display3 {
    height: 0px;
    margin-top: 0px;
}